<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ztqees.mapper.MyMapper">
    <select id="all" resultType="java.lang.Integer">
        select * from tbl_user_record
    </select>
</mapper>